createdAt: "2019-06-23T10:26:02.433Z"
updatedAt: "2019-07-10T15:21:47.202Z"
type: "MARKDOWN_NOTE"
folder: "4d6db505462d196c7fc0"
title: "非父子传值"
tags: [
  "组件传值"
]
content: '''
  非父子传值
  非父子组件之间传值，需要定义个公共的公共实例文件bus.js，作为中间仓库来传值，不然路由组件之间达不到传值的效果。
  ###### 1.公共bus.js文件
  //bus.js
  import Vue from 'vue'
  export default new Vue()
  ###### 2.组件A：
  	<template>
  		<div>
  			A组件:
  			<span>{{elementValue}}</span>
  			<input type="button" value="点击触发" @click="elementByValue">
  		</div>
  	</template>
  	<script>
  		// 引入公共的bug，来做为中间传达的工具
  		import Bus from './bus.js'
  		export default {
  			data () {
  				return {
  					elementValue: 4
  				}
  			},
  			methods: {
  				elementByValue: function () {
  					Bus.$emit('val', this.elementValue)
  				}
  			}
  		}
  	</script>
  ###### 3.组件B：
  	<template>
  		<div>
  			B组件:
  			<input type="button" value="点击触发" @click="getData">
  			<span>{{name}}</span>
  		</div>
  	</template>
  	<script>
  		import Bus from './bus.js'
  		export default {
  			data () {
  				return {
  					name: 0
  				}
  			},
  			mounted: function () {
  				var vm = this
  				// 用$on事件来接收参数
  				Bus.$on('val', (data) => {
  					console.log(data)
  					vm.name = data
  				})
  			},
  			methods: {
  				getData: function () {
  					this.name++
  				}
  			}
  		}
  	</script>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
