createdAt: "2019-07-05T03:03:29.923Z"
updatedAt: "2019-07-05T03:48:52.053Z"
type: "MARKDOWN_NOTE"
folder: "827fc4f97be80918630b"
title: "费用域 =》账户管理需求"
tags: [
  "账户管理需求"
]
content: '''
  费用域 =》账户管理需求
  1.账户停用状态下不可修改信息
  2.介质绑定列表中 
  		使用状态默认全部是启用；
  		只显示5条数据，多出就出现滚动条
  		点击停用之后，不需要立即刷新列表，当鼠标获取其他焦点的时候在触发刷新列表
  4.停用启用都需要确认框确认
  5.列表中金钱类的数据都是右对齐，其他都是居中
  6.交易信息中 清楚搜索是刷新列表回到最初状态：使用回车事件，不需要实时刷新数据
  7.修改介质绑定中失效日期默认选择当天
  8.所有表单必须校验是否为空和输入值是否符合逻辑
  9.交易信息一览中的搜索框样式保持一致
  	默认十二条，其他出现分页
  
'''
linesHighlighted: [
  3
]
isStarred: false
isTrashed: false
