createdAt: "2019-08-05T12:56:06.956Z"
updatedAt: "2019-08-13T06:52:51.673Z"
type: "MARKDOWN_NOTE"
folder: "827fc4f97be80918630b"
title: "日常 2019/8/5"
tags: [
  "鼠标指针hover小手"
]
content: '''
  日常 2019/8/5
  ###### 鼠标指针hover小手
  	style="cursor:pointer"
  ###### 鼠标指针hover禁用
  	style="cursor:	not-allowed"
'''
linesHighlighted: []
isStarred: false
isTrashed: false
