createdAt: "2019-07-31T08:50:48.370Z"
updatedAt: "2019-08-01T03:40:57.101Z"
type: "MARKDOWN_NOTE"
folder: "6b35ebf9856419e181f3"
title: "正则表达式"
tags: [
  "正则判断数据"
]
content: '''
  ### 正则表达式
  #### 只能在0-1之间 2019/7/31
  	/^(0.\\d+|0|1)$/.test(val)
  
  #### 只能价格
  	!/(^[1-9]\\d*(\\.\\d{1,2})?$)/.test(val) && !/(^0(\\.\\d{1,2})?$)/.test(val)
  
  	价格符合两种格式
  	^[1-9]\\d*(.\\d{1,2})?$ 
  		1-9开头，后跟是0-9，可以跟小数点，但小数点后要带上1-2位小数，类似2,2.0,2.1,2.22等
  	^0(.\\d{1,2})?$ 
  		0开头，后可以跟小数点，小数点后要待上1-2位小数，类似0,0.22,0.1等
  #### 只能汉字
  	/[\\u4e00-\\u9fa5]+/
'''
linesHighlighted: [
  14
]
isStarred: false
isTrashed: false
