createdAt: "2019-08-28T11:05:04.914Z"
updatedAt: "2020-06-04T07:00:28.709Z"
type: "MARKDOWN_NOTE"
folder: "f376965e603f38f2c59c"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
