createdAt: "2019-07-10T13:28:49.548Z"
updatedAt: "2019-07-10T13:42:49.528Z"
type: "MARKDOWN_NOTE"
folder: "827fc4f97be80918630b"
title: "css border 2019/7/10"
tags: []
content: '''
  css border 2019/7/10
  + `border-left-style`
  设置左边框的样式。
  + border-bottom-left-radius
  定义边框左下角的形状。	3
  + border-bottom-right-radius
  定义边框右下角的形状。	3
  + border-image	
  简写属性，设置所有 border-image- 属性。	3
  + border-image-outset	
  规定边框图像区域超出边框的量。	3
  + border-image-repeat	
  图像边框是否应平铺(repeated)、铺满(rounded)或拉伸(stretched)。	3
  + border-image-slice	
  规定图像边框的向内偏移。	3
  + border-image-source	
  规定用作边框的图片。	3
  + border-image-width	
  规定图片边框的宽度。	3
  + border-radius	
  简写属性，设置所有四个 border-*-radius 属性。	3
  + border-top-left-radius	
  定义边框左上角的形状。	3
  + border-top-right-radius	
  定义边框右下角的形状。	3
  + box-decoration-break		3
  box-shadow	向方框添加一个或多个阴影。
  *88888888*
  ^66666
  **
  &
  ^
  %
  
  $$
  ^9
  `^7`
'''
linesHighlighted: []
isStarred: false
isTrashed: false
